- if params[:group]
  ruby:
    columns = Deploy.columns
    current_group = params[:group]
    group_label = 'Host'
    group_deploys = DB["
      SELECT * FROM (
        SELECT *, ROW_NUMBER() OVER (PARTITION BY stack_name ORDER BY id DESC) as rn
        FROM deploys WHERE deploy_host = ?
      ) t WHERE rn = 1
      ORDER BY id DESC
    ", current_group].all
    logger.info "Получено #{group_deploys.count} записей для хоста: #{current_group}"
    puts "DEBUG: Получено #{group_deploys.count} записей для хоста: #{current_group}"


  h1 #{group_label}: #{current_group}
  pre: table
    tr
      - columns.each do |k|
        th = k.to_s.gsub('_', ' ').capitalize
    - group_deploys.each do |d|
      - next unless d[:deploy_status]
      tr class="status-#{d[:deploy_status]}"
        - columns.each do |k|
          - if k == :stack_name
            ruby:
              insight_url = begin
                              stack_data = JSON.parse(d[:stack])
                              stack_data = JSON.parse(stack_data) if stack_data.is_a?(String)
                              traefik_string = find_traefik_string(stack_data)
                              puts "DEBUG: stack_name: #{d[:stack_name]}, строка: #{traefik_string || 'не найдена'}"
                              if traefik_string
                                domain = traefik_string.split('=', 2).last
                                modified_domain = domain.start_with?('http://', 'https://') ? domain : "https://insight.#{domain}"
                                modified_domain
                              else
                                '#'
                              end
                            rescue StandardError => e
                              '#'
                            end
            td: a href=insight_url #{d[:stack_name]}
          - elsif k == :stack
            td: a href="/inspect?id=#{d[:id]}&stack_name=#{d[:stack_name]}" #{d[:stack]}
          - else
            td == d[k]
sass:
  .stack-part
    color: #666
    font-weight: normal

  table
    width: 100%
    border-collapse: collapse
    th, td
      padding: 8px
      border: 1px solid #ddd
    tr:nth-child(even)
      background-color: #f2f2f2
    tr.status-failed
      background-color: #ffdddd
    tr.status-success
      background-color: #ddffdd